.wrapper {
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 999;
   height: fit-content;
   display: flex;

   align-items: center;
   justify-content: space-between;
   margin-bottom: 8px;

   border-radius: 5px;
   padding: 4px;
   background: var(--fabric-background-tertiary);
   color: var(--fabric-color-secondary);
}

.nav {
   height: 30px;
   width: 30px;
   padding: 0 !important;

   background: var(--fabric-border-primary);
   display: flex;
   align-items: center;
   justify-content: center;

}

.nav:disabled {
   color: #999999 !important;
   background: unset !important;
}


.cell {
   text-align: left;
   font-size: .8rem;
   font-weight: 550;


   display: flex;
   align-items: center;
}

.group {
   display: flex;

}

.loading::after {
   content: "";
   position: absolute;
   bottom: -3px;
   left: 0;
   height: 3px;
   border-radius: 3px;
   width: 100%;
   background: var(--fabric-accent-color);
   animation: loadingAnim 1.5s ease-out infinite;
   z-index: 999;
}

@keyframes loadingAnim {
   0% {

      opacity: .3;

   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: .3;
   }
}
