
.button {
    user-select: none;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;


    transition: inherit;
    background: var(--fabric-background-primary) !important;
    width: 100%;

    padding: 5px !important;

    max-width: 100%;
    overflow: hidden;

    border: none;
}


.selectedEntityContainer {
    width: 100%;
    border: none;

    height: 56px;
    color: var(--fabric-color-primary);
    font-size: .75rem;

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
}

.divider {
    height: 30px;
    width: 1px;
    background: var(--fabric-border-primary);

}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
}

.buttonWrapper {
    max-width: 100%;
    overflow: hidden;
    border-radius: 3px !important;
    padding: 0 !important;
    background: var(--fabric-background-primary) !important;
}


.contentWrapper {
    box-shadow: rgba(0, 0, 0, .2) 0 0 20px 5px;
    border-radius: 3px;
    background: var(--fabric-background-primary) !important;
    width: 350px !important;
    height: 500px !important;

    max-width: unset !important;
    max-height: unset !important;


}
